
@media screen and (min-width: 1010px) {
    .jssaa-wrapper .img {
        width: auto;
    }
    .banner_title {
        font-size: 35px;
        line-height: 1.3;
        margin-bottom: 16px;
        font-weight: 700;
        color: #007487;
        background: -webkit-linear-gradient(#008f9e, #007487);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .banner_sub-title {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 16px;
        font-weight: 700;
        color: #606060;
    }
}

/***1010px***/

@media screen and (max-width: 1010px) {

    /*header*/
    #header {
        width: 100%;
        height: auto;
    }

    #header .buttons {
        right: 14px;
    }

    #fixWidth {
        min-width: 0;
    }


    /*шапка для внутренних страниц*/
    .omg {
        width: 100%;
    }

    .subHeader {
        width: 100%;
    }

    /*контент в одну колонку*/
    .contentBlock {
        display: block;
        float: none;
        padding: 0 18px 18px;
    }

    /*слайдер*/
    .index .subHeader {
        width: auto;
        left: auto;
        margin: -40px 0 0;
        position: relative;
    }

    .bannerWrapper .banner,
    .bannerWrapper .bjqs-controls {
        width: 100%;
    }

    .bannerWrapper .bjqs-controls {
        margin: 0 !important;
        left: auto;
        right: 14px;
    }

    .bannerWrapper .bjqs-markers {
        right: 80px;
        left: auto !important;
        margin: 0 !important;
    }

    .mainSliderItemWrapper,
    .bannerWrapper .bannerHolder,
    .bannerWrapper ul.bjqs li,
    .bannerWrapper ul.bjqs,
    .bannerWrapper {
        height: 100%;
    }
    .mainNavWrapper {
        width: 100%;
    }

    .mainNav  {
        width: 72% !important;
        height: auto;
        background-color: #454c4d;
        -webkit-box-shadow: inset 0px 10px 33px -10px rgba(0,0,0,0.62);
        -moz-box-shadow: inset 0px 10px 33px -10px rgba(0,0,0,0.62);
        box-shadow: inset 0px 10px 33px -10px rgba(0,0,0,0.62);
    }
    .mainNav li {
        font-size: 14px;
        width: 24.5% !important;
        height: auto;
    }
    .mainNav span {
        display: none;
    }

    .searchBlock .nav li {
        padding: 0 10px;
    }
    .miniSearchWrapper .form {
         padding: 0;
     }

    .banner_title {
        font-size: 35px;
        line-height: 1.3;
        margin-bottom: 16px;
        font-weight: 700;
        color: #007487;
        background: -webkit-linear-gradient(#008f9e, #007487);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .banner_sub-title {
        font-size: 26px;
        line-height: 1.3;
        margin-bottom: 16px;
        font-weight: 700;
        color: #606060;
    }


    .servicesAndActions .indexPromoBlock,
    .servicesAndActions .indexPromoBlock:first-child {
        width: 47%;
        box-sizing: border-box;
        margin-left: 10px;
        margin-right: 10px;
        height: 180px;
        padding: 9px;
    }

    .jssaa-wrapper .img,
    .servicesAndActions .indexPromoBlock:first-child .img {
        width: auto;
        margin-right: 10px;
    }
    .jssaa-wrapper .img img{
        width: 100%;
        height: auto;
    }
    .servicesAndActions .indexPromoBlock .links {
        position: absolute;
        bottom: 20px;
        left: 0;
    }
    #outerWrapper {
        width: 100%;
    }

    #footerWrapper {
        height: auto;
    }
    /*футер*/
    #footer {
        width: 100%;
    }

    .footerNav::after {
        content: '';
        display: block;
        clear: both;
    }
    .copyrights,
    .footerNav {
        float: none;
        width: 100%;
    }

    .footerNav {
        margin-bottom: 10px;
    }

    #footer .footerNav > div {
        width: 33%;
        padding: 0 3% !important;
        margin: 0;
        box-sizing: border-box;
    }

    .beMobile,
    .copyrights_text,
    .developers,
    .developers a {
        float: none;
        display: inline-block;
        width: 33%;
        vertical-align: top;
        margin: 0;
    }

    /*article (внутренние страницы)*/
    #article #asideRight {
        margin-right: 20px;
    }

    #article #asideRight::after {
        content: '';
        display: table;
        clear: both;
    }

    .twoCols .contentBlock  {
        float: none;
        margin-right: 315px;
        width: auto;
    }

    .promoblock-shorter-wrapper {
        box-sizing: border-box;
    }

}

/***980px***/

@media screen and (max-width: 980px) {

    /*блок Что нового?, обратите внимание*/
    .infoBlock::after {
        content: '';
        display: block;
        clear: both;
    }

    .index #asideRight {
        display: none;
    }

    .infoBlock {
        padding: 25px 0;
    }

    .infoBlock > div {
        width: 50%;
        margin: 0;
        padding: 10px;
        box-sizing: border-box;
    }

    /*выпадающее меню*/
    .hideBlockWrapper .hideBlock #jqFirstMenu .column,
    .hideBlockWrapper .hideBlock #jqSecondMenu .column {
        max-width: none;
    }
    .hideBlock * {
        box-sizing: border-box;
    }

    .hideBlockWrapper .hideBlock #jqFirstMenu .column,
    .hideBlockWrapper .hideBlock #jqSecondMenu .column {
        width: 48%;
        display: inline-block;
        float: none;
        vertical-align: top;
        margin-bottom: 10px;
    }

    .hideBlockOuterWrapper,
    .hideBlock{
        width: 100%;
        box-sizing: border-box;
    }
    .hideBlockOuterWrapper {
        padding-right: 16px;
    }

    .hideBlockFooter {
        width: 100%;
        height: auto;
        padding: 10px 0 0 18px;
        background-image: none;
        background-color: #ededed;
        -webkit-box-shadow: inset 0px 10px 10px -9px rgba(0,0,0,0.15);
        -moz-box-shadow: inset 0px 10px 10px -9px rgba(0,0,0,0.15);
        box-shadow: inset 0px 10px 10px -9px rgba(0,0,0,0.15);
    }

    .hideBlockFooter > div {
        margin-bottom: 10px;
        float: left !important;
    }
}

/***890px***/

@media screen and (max-width: 890px) {
    .jssaa-wrapper .img,
    .servicesAndActions .indexPromoBlock:first-child .img {
        width: 30%;
    }
    .describe {
        margin-left: 33%;
    }
    .mainNav  {
        width: 100% !important;
    }
    .miniSearchWrapper .form {
        display: none;
    }
    .searchBlock .nav a {
        font-size: 13px;
    }
    .mainNav  {
        padding: 1px 1px 8px;
    }
}

/***820px***/

@media screen and (max-width: 820px) {

    /*шапка сайта*/
    .officeAtmBlock {
        top: 8px;
    }
    #header .buttons {
        top: 38px;
        left: 190px;
        right: auto;
    }

    .headerWrapper {
        height: 120px;
    }
    .logo {
        top: 9px;
    }

    .searchBlock .nav i {
        display: none !important;
    }
}

/***780px***/

@media screen and (max-width: 780px) {
    .mainNav {
        height: auto;
        background-color: #3c4344;
    }


    .mainNavWrapper,
    .searchBlock .navWrapper {
        position: relative;
        height: auto;
    }


    .searchBlock .nav {
        float: none;
        width: 100% !important;
    }
    .mainNav a {
        display: inline-block;
        padding: 10px 0;
    }


    .mainNav ul {
        overflow: visible;
        padding: 0;
    }

    .mainNav .bg {
        background: none;
    }

    .searchBlock {
        width: 100%;
        height: auto !important;
    }
    .searchBlock ul {
        width: auto;
    }
    .subHeader {
        padding: 0;
    }
}

/***740px***/

@media screen and (max-width: 740px) {
    .servicesAndActions .indexPromoBlock,
    .servicesAndActions .indexPromoBlock:first-child {
        width: 96%;
        float: none;
        margin: 0 2% 20px;
        height: auto;
    }

    .jssaa-wrapper .img,
    .servicesAndActions .indexPromoBlock:first-child .img {
        width: 100px;
        margin-right: 4% !important;
    }

    .describe {
        margin-left: 0;
        padding-bottom: 30px;
    }

    #footer .footerNav [class*="Col"] {
        background: none;
        height: auto;

    }

    .footerNav {
        margin-bottom: 24px;
    }

    /*адаптивные изображения в контенте*/
    .contentBlock img {
        width: 100%;
        height: auto;
        margin: 20px !important;
    }
}

/***740px***/

@media screen and (max-width: 640px) {
    /*слайдер*/
    .mainSliderWrapper {
        height: 340px;
    }
    .bannerWrapper .bannerImg {
        height: 100%;
    }

    .bannerWrapper .content {
        position: relative;
        top: auto;
        right: auto;
        left:auto;
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .bannerWrapper .banner {
        padding-top: 5%;
        height: auto;
    }

    .banner_title {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .banner_title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .bannerWrapper .buttons {
        bottom: auto;
        top: 107%;
    }

    .bannerWrapper .bjqs-controls {
        bottom: 5px;
    }
    .bannerWrapper .bjqs-markers {
        bottom: 0;
    }


    /*блок Что нового?, обратите внимание*/
    .infoBlock > div {
        width: 100%;
        margin-bottom: 20px;
        float: none;
    }

    /*будь мобильнее*/
    .beMobile {
        float: left;
        width: 140px;
    }


    .copyrights_text,
    .developers {
        display: block;
        margin-left: 40%;
        width: 100%;
    }

    /*контент на внутренних страницах*/
    #article #asideRight {
        float: none;
        padding: 0;
        margin: 0 20px 20px;

    }
    #article #asideRight::after {
        content: '';
        display: table;
        clear: both;
    }


    .twoCols .contentBlock {
        margin-right: 0;
    }

    .slide-link {
        display: block;
    }
    .promoblock-short-wrapper.tork {
        display: block;
        float: none;
        width: auto;
        height: auto;
        margin-top: 70px;
    }
    .hided {
        padding-right: 16px;
    }

    .remoteCallImg {
        float: left;
        height: 219px;
    }
    #article .arBlockWrapper {
        /*float: left;*/
    }
}

/***560px***/

@media screen and (max-width: 560px) {
    .logo,
    .officeAtmBlock,
    #header {
        position: static;
        height: auto;
    }


    #header .buttons {
        width: 100%;
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
        margin-top: 20px;
    }

    .subHeader {
        margin: -7px auto 40px;
    }

    .logo {
        float: left;
    }

    .city {
        margin: 0;
        margin-left: -5px;
        height: auto;
        float: none;
        display: inline-block;
    }

    .city li {
        height: auto;
        padding: 6px 0 6px 11px;
    }

    .officeAtm {
        display: block;
    }

    .officeAtmBlock {
        margin-left: 180px;
    }


    /*слайдер*/
    .index .subHeader {
        margin: 0;
        position: relative;
    }


    .mainNav li {
        float: none;
        width: 100% !important;
    }

    .mainNav a.active {
        background-color: #118f9e;
    }
}

/***520px***/

@media screen and (max-width: 520px) {
    #footer .footerNav [class*="Col"] {
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    .copyrights {
        padding-left: 20px;
    }


    /*выпадающее меню на главной странцие*/
    .hideBlockWrapper .hideBlock #jqFirstMenu .column,
    .hideBlockWrapper .hideBlock #jqSecondMenu .column {
        width: 100%;
        padding: 0;
        display: block;
    }
}

/***440px***/

@media screen and (max-width: 440px) {
    .servicesAndActions .indexPromoBlock .img,
    .servicesAndActions .indexPromoBlock:first-child .img {
        display: block;
        width: 50%;
        float: none;
    }
}

/***440px***/

@media screen and (max-width: 400px) {
    .copyrights_text,
    .developers {
        display: block;
        margin-left: 0;
    }
    .beMobile {
        display: block;
        float: none;
    }

    .city li,
    .officeAtm a {
        font-size: 14px;
    }
    .logo {
        width: 150px;
    }

    .officeAtmBlock {
        margin-left: 156px;
    }

}
/***350px***/

@media screen and (max-width: 350px) {
    #header .buttons .btnContact {
        width: 134px;
    }

    #header .buttons .btnIbank {
        width: 117px;
        padding-left: 31px;
        margin-left: 2px;
    }
}